Importons Deux modules avec import et Renommons les en utilisant le terme as :

import pandas as pd



import numpy as np

In [1]:
import pandas as pd
import numpy as np

Nous commençons par importer le fichier Excel. 


Dans pandas, une feuille de calcul est appelée dataframe, ou df en abrégé.


Affichons les 12 premières lignes de notre dataframe

In [2]:
df = pd.read_excel("HDR 2007-2008 Table 27.xlsx")
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,… protecting personal security…,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27 Crime and justice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Year in which countries have partially or comp...,NaN,NaN
6,HDI rank,NaN,NaN,Intentional homicidesa (per 10...,NaN,Prison population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,Total 2007d,NaN,"(per 100,000 people) 2007d",NaN,Female (% of total) ...,NaN,NaN,NaN,NaN
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,NaN,1,NaN,119,NaN,40,NaN,6,NaN,1928,NaN,NaN
10,2,Norway,NaN,0.8,NaN,3048,NaN,66,NaN,5,NaN,1979,NaN,NaN
11,3,Australia,NaN,1.3,NaN,25353,NaN,126,NaN,7,NaN,1985,NaN,NaN

In [3]:
df.tail(30) # Renvoie à afficher les 30 dernières lignes de notre dataframe

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
167,157,Eritrea,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,g,NaN
168,158,Nigeria,NaN,1.5,f,40444,NaN,30,NaN,2,NaN,..,g,NaN
169,159,Tanzania (United Republic of),NaN,7.5,f,43911,NaN,113,NaN,3,NaN,..,g,NaN
170,160,Guinea,NaN,..,NaN,3070,NaN,37,NaN,2,NaN,..,g,NaN
171,161,Rwanda,NaN,8,f,67000,f,691,"f,j",3,NaN,..,g,NaN
172,162,Angola,NaN,..,NaN,6008,NaN,44,NaN,3,NaN,1992,NaN,NaN
173,163,Benin,NaN,..,NaN,5834,NaN,75,NaN,4,NaN,1987,i,NaN
174,164,Malawi,NaN,..,NaN,9656,NaN,74,NaN,1,NaN,1992,i,NaN
175,165,Zambia,NaN,8.1,NaN,14347,NaN,120,NaN,3,NaN,..,g,NaN
176,166,Côte d'Ivoire,NaN,4.1,NaN,9274,f,49,f,2,NaN,2000,NaN,NaN
177,167,Burundi,NaN,..,NaN,7969,NaN,106,NaN,3,NaN,..,g,NaN
178,168,Congo (Democratic Republic of the),NaN,..,NaN,30000,NaN,57,NaN,3,NaN,..,g,NaN
179,169,Ethiopia,NaN,..,NaN,65000,NaN,92,NaN,..,NaN,..,g,NaN
180,170,Chad,NaN,..,NaN,3416,NaN,35,NaN,2,NaN,..,g,NaN
181,171,Central African Republic,NaN,..,NaN,4168,NaN,110,NaN,..,NaN,1981,i,NaN
182,172,Mozambique,NaN,..,NaN,10000,NaN,51,NaN,6,NaN,1990,NaN,NaN
183,173,Mali,NaN,..,NaN,4407,NaN,33,NaN,2,NaN,1980,i,NaN
184,174,Niger,NaN,..,NaN,5709,NaN,46,NaN,3,NaN,1976,i,NaN
185,175,Guinea-Bissau,NaN,..,NaN,..,NaN,..,NaN,..,NaN,1993,NaN,NaN
186,176,Burkina Faso,NaN,..,NaN,2800,NaN,23,NaN,1,NaN,1988,i,NaN
187,177,Sierra Leone,NaN,..,NaN,1740,NaN,32,NaN,..,NaN,..,g,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,\n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,a. Because of differences in the legal definit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,SOURCES\nColumn 1: UNODC 2007. \nColumns 2–4: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Sauvegarder les notes et sources dans des dataframes qui sont df_NOTES , df_SOURCES

df_NOTES = df.iloc[192:195,]
df_SOURCES = df.iloc[196:,]

df_NOTES = df_NOTES.dropna(how = 'any', axis = 1)#.reset_index(drop=True)

df_SOURCES = df_SOURCES.dropna(how = 'any', axis = 1).reset_index(drop=True)

In [9]:
df_NOTES

                                            Unnamed: 0
192                                              NOTES
193                                               \n\n
194  a. Because of differences in the legal definit...

In [ ]:
df_SOURCES

In [ ]:
df.info() #donne le résumé précis d'un dataframe

1. Repositionner la ligne d'en-tête et supprimer les lignes qui ne nous servent pas

2. Supprimez d'abord toutes les colonnes (axe=1) sans valeurs

3. Supprimer toutes les lignes (axe=0) sans valeurs

In [ ]:
df = pd.read_excel("HDR 2007-2008 Table 27.xlsx", header=6)
df = df.dropna(how="all", axis=1)
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head()

In [ ]:
df.columns #nous permet de connaitre tous les éléments qui sont dans les colonnes

In [ ]:
#Déposer les lignes du bas des données que nous voulons conserver, jusqu'à la fin (défini comme len(dt))
df = df.drop(np.arange(182,len(df)), axis=0).reset_index(drop=True)

In [ ]:
len(df) #nous permet d'avoir le nombre d'éléments (longueur) dans un objet

In [ ]:
np.arange(182,len(df)) #Renvoie des valeurs régulièrement espacées dans un intervalle donné.

In [ ]:
np.arange(1,4)

In [ ]:
df.tail(25) #Renvoie la liste des 25 derniers éléments de notre dataframe

In [ ]:
df = df.dropna(how="all", axis=1)

In [ ]:
df.head()

In [ ]:
df.size #renvoie le nombre d'élément dans un tableau

In [ ]:
MA = ["HDI RANK",
    "COUNTRY",
    "Intentional homicides                 (per 100,000 people)                         2000-04",
    "Reference 1",
    "Prison population     Total                   2007",
    "Reference 2",
    "Prison population     (per 100,000 people)                        2007",
    "Reference 3",
    "Prison population     Female                         (% of total)             2007",
    "Reference 4",
    "Year in which countries have partially or completely abolished the death penalty",
    "Reference 5"
]

In [ ]:
len(MA)

In [ ]:
len(df.columns)

In [ ]:
df.columns=MA
df.columns

In [ ]:
df.head()

In [ ]:
#Supprimer toutes les references qui se trouvent dans notre dataframe
df.drop(['Reference 1','Reference 2','Reference 3','Reference 4','Reference 5'],axis='columns',inplace=True)
df.head()

In [ ]:
# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et réinitialiser l'index
# np.arange(2) crée un tableau = [0, 1, 2, 3, 4, 5]
df = df.drop(np.arange(0,2), axis=0).reset_index(drop=True)
df.head(20)

In [ ]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
df["HDI RANK"].index
df[df["HDI RANK"].isin(hdi_categories)].index

In [ ]:
df = df.drop(df[df["HDI RANK"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)

In [ ]:
df.loc[:, "HDI RANK"]

In [ ]:
df.loc[:, "HDI NIVEAU_DEV"] = np.where(df["HDI RANK"] > 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI RANK"] < 71,
                                              "HIGH HUMAN DEVELOPMENT",
                                              "MEDIUM HUMAN DEVELOPMENT"
                                              
                                             )
                                    )
df.sort_values(by="HDI RANK", inplace=True)
df.head()

In [ ]:
df.tail(30)

In [ ]:
#supprimer les ".."
for c in df.columns:
    try:
        df[c] = np.where(df[c] == ".." , "(.)", np.nan, df[c])
    except TypeError:
        pass

In [ ]:
df.tail(20)

In [ ]:
#Exportons notre fichier sur le format CSV
df.to_csv('HDR 2007-2008 Table 27.csv',index=False) 

#Enregistrons notre fichier en excel avec plusieurs feuilles Données finales, Notes et Sources
with pd.ExcelWriter('HDR 2007-2008 Table 27_KONENATH.xlsx') as writer:
    df.to_excel(writer, sheet_name = 'Données finales', index = False)
    df_NOTES.to_excel(writer, sheet_name = 'NOTES', index = False)
    df_SOURCES.to_excel(writer, sheet_name = 'SOURCES', index = False)