In [3]:
import pandas as pd

In [16]:
df = pd.read_excel("HDR 2007-2008 Table 27KoneNath.xlsx")
df

,HDI_rank,Human_developpement_level,country,Intentional_homicides_per_100000_people_2004,Prison_population_Total_2007,Prison_population_per_100000_2007,Prison_population_Female_%_of_total,Year_in_which_countries_have_partially_or_completely_abolished_the_death_penalty
0,1,HIGH,Iceland,1.0,119.0,40.0,6.0,1928.0
1,2,HIGH,Norway,0.8,3048.0,66.0,5.0,1979.0
2,3,HIGH,Australia,1.3,25353.0,126.0,7.0,1985.0
3,4,HIGH,Canada,1.9,34096.0,107.0,5.0,1998.0
4,5,HIGH,Ireland,0.9,3080.0,72.0,4.0,1990.0
...,...,...,...,...,...,...,...,...
172,173,LOW,Mali,NaN,4407.0,33.0,2.0,1980.0
173,174,LOW,Niger,NaN,5709.0,46.0,3.0,1976.0
174,175,LOW,Guinea-Bissau,NaN,NaN,NaN,NaN,1993.0
175,176,LOW,Burkina Faso,NaN,2800.0,23.0,1.0,1988.0
176,177,LOW,Sierra Leone,NaN,1740.0,32.0,NaN,NaN

In [17]:
df.to_csv('HDR 2007-2008 Table 27.csv',index=False)