In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("HDR 2007-2008 Table 15.xlsx")
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,. . . To have access to the resources needed f...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15 Inequality in income and expenditure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,15. Inequality in income or expenditure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MDG,NaN,NaN,...,NaN,NaN,Inequality measures,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,Share of income or expenditure\n(%),NaN,NaN,NaN,NaN,...,NaN,NaN,Richest 10% to poorest 10%,NaN,Richest 20% to poorest 20%,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HDI rank,NaN,NaN,Survey year,NaN,Poorest 10%,NaN,Poorest 20%,NaN,Richest 20%,...,Richest 10%,NaN,NaN,NaN,NaN,NaN,Gini index,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,a,NaN,a,NaN,b,NaN,NaN

In [3]:
df.tail(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
193,Developing countries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Least developed countries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Arab States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,East Asia and the Pacific,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Latin America and the Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Central and Eastern Europe and the CIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,OECD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,High-income OECD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,High human development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,Medium human development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,Low human development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,Because the underlying household surveys diffe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,a. Data show the ratio of the income or expend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,SOURCES\nColumns 1–5 and 8: World Bank 2007b.\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = pd.read_excel("HDR 2007-2008 Table 15.xlsx", header=9)
df = df.dropna(how="all", axis=1)
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Share of income or expenditure\n(%),Unnamed: 7,Unnamed: 9,Unnamed: 11,Richest 10% to poorest 10%,Unnamed: 14,Richest 20% to poorest 20%,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,HDI rank,NaN,NaN,Survey year,NaN,Poorest 10%,Poorest 20%,Richest 20%,Richest 10%,NaN,NaN,NaN,NaN,Gini index,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,NaN,a,NaN,b
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,NaN,..,NaN,..,..,..,..,..,NaN,..,NaN,..,NaN
4,2,Norway,NaN,2000,c,3.9,9.6,37.2,23.4,6.1,NaN,3.9,NaN,25.8,NaN

In [8]:
df.tail(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Share of income or expenditure\n(%),Unnamed: 7,Unnamed: 9,Unnamed: 11,Richest 10% to poorest 10%,Unnamed: 14,Richest 20% to poorest 20%,Unnamed: 16,Unnamed: 17,Unnamed: 18
173,169,Ethiopia,NaN,1999-00,d,3.9,9.1,39.4,25.5,6.6,NaN,4.3,NaN,30.0,NaN
174,170,Chad,NaN,..,NaN,..,..,..,..,..,NaN,..,NaN,..,NaN
175,171,Central African Republic,NaN,1993,d,0.7,2.0,65.0,47.7,69.2,NaN,32.7,NaN,61.3,NaN
176,172,Mozambique,NaN,2002-03,d,2.1,5.4,53.6,39.4,18.8,NaN,9.9,NaN,47.3,NaN
177,173,Mali,NaN,2001,d,2.4,6.1,46.6,30.2,12.5,NaN,7.6,NaN,40.1,NaN
178,174,Niger,NaN,1995,d,0.8,2.6,53.3,35.4,46.0,NaN,20.7,NaN,50.5,NaN
179,175,Guinea-Bissau,NaN,1993,d,2.1,5.2,53.4,39.3,19.0,NaN,10.3,NaN,47.0,NaN
180,176,Burkina Faso,NaN,2003,d,2.8,6.9,47.2,32.2,11.6,NaN,6.9,NaN,39.5,NaN
181,177,Sierra Leone,NaN,1989,d,0.5,1.1,63.4,43.6,87.2,NaN,57.6,NaN,62.9,NaN
182,Developing countries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Least developed countries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Arab States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,East Asia and the Pacific,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,Latin America and the Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,Central and Eastern Europe and the CIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,OECD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,High-income OECD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,High human development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Medium human development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Low human development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,High income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Low income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Because the underlying household surveys diffe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,a. Data show the ratio of the income or expend...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,SOURCES\nColumns 1–5 and 8: World Bank 2007b.\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns #nous permet de connaitre tous les éléments qui sont dans les colonnes

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Share of income or expenditure\n(%) ', 'Unnamed: 7', 'Unnamed: 9',
       'Unnamed: 11', 'Richest 10% to poorest 10%', 'Unnamed: 14',
       'Richest 20% to poorest 20%', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18'],
      dtype='object')

In [9]:
df = df.drop(np.arange(182,len(df)), axis=0).reset_index(drop=True)

In [10]:
len(df) #nous permet d'avoir le nombre d'éléments (longueur) dans un objet

182

In [11]:
np.arange(182,len(df)) #Renvoie des valeurs régulièrement espacées dans un intervalle donné.

array([], dtype=int32)

In [12]:
np.arange(1,4)

array([1, 2, 3])

In [13]:
df.tail(25) #Renvoie la liste des 25 derniers éléments de notre dataframe

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Share of income or expenditure\n(%),Unnamed: 7,Unnamed: 9,Unnamed: 11,Richest 10% to poorest 10%,Unnamed: 14,Richest 20% to poorest 20%,Unnamed: 16,Unnamed: 17,Unnamed: 18
157,154,Uganda,NaN,2002,d,2.3,5.7,52.5,37.7,16.6,NaN,9.2,NaN,45.7,NaN
158,155,Gambia,NaN,1998,d,1.8,4.8,53.4,37.0,20.2,NaN,11.2,NaN,50.2,NaN
159,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,156,Senegal,NaN,2001,d,2.7,6.6,48.4,33.4,12.3,NaN,7.4,NaN,41.3,NaN
161,157,Eritrea,NaN,..,NaN,..,..,..,..,..,NaN,..,NaN,..,NaN
162,158,Nigeria,NaN,2003,d,1.9,5.0,49.2,33.2,17.8,NaN,9.7,NaN,43.7,NaN
163,159,Tanzania (United Republic of),NaN,2000-01,d,2.9,7.3,42.4,26.9,9.2,NaN,5.8,NaN,34.6,NaN
164,160,Guinea,NaN,2003,d,2.9,7.0,46.1,30.7,10.5,NaN,6.6,NaN,38.6,NaN
165,161,Rwanda,NaN,2000,d,2.1,5.3,53.0,38.2,18.6,NaN,9.9,NaN,46.8,NaN
166,162,Angola,NaN,..,NaN,..,..,..,..,..,NaN,..,NaN,..,NaN
167,163,Benin,NaN,2003,d,3.1,7.4,44.5,29.0,9.4,NaN,6.0,NaN,36.5,NaN
168,164,Malawi,NaN,2004-05,d,2.9,7.0,46.6,31.8,10.9,NaN,6.7,NaN,39.0,NaN
169,165,Zambia,NaN,2004,d,1.2,3.6,55.1,38.8,32.3,NaN,15.3,NaN,50.8,NaN
170,166,Côte d'Ivoire,NaN,2002,d,2.0,5.2,50.7,34.0,16.6,NaN,9.7,NaN,44.6,NaN
171,167,Burundi,NaN,1998,d,1.7,5.1,48.0,32.8,19.3,NaN,9.5,NaN,42.4,NaN
172,168,Congo (Democratic Republic of the),NaN,..,NaN,..,..,..,..,..,NaN,..,NaN,..,NaN
173,169,Ethiopia,NaN,1999-00,d,3.9,9.1,39.4,25.5,6.6,NaN,4.3,NaN,30.0,NaN
174,170,Chad,NaN,..,NaN,..,..,..,..,..,NaN,..,NaN,..,NaN
175,171,Central African Republic,NaN,1993,d,0.7,2.0,65.0,47.7,69.2,NaN,32.7,NaN,61.3,NaN
176,172,Mozambique,NaN,2002-03,d,2.1,5.4,53.6,39.4,18.8,NaN,9.9,NaN,47.3,NaN
177,173,Mali,NaN,2001,d,2.4,6.1,46.6,30.2,12.5,NaN,7.6,NaN,40.1,NaN
178,174,Niger,NaN,1995,d,0.8,2.6,53.3,35.4,46.0,NaN,20.7,NaN,50.5,NaN
179,175,Guinea-Bissau,NaN,1993,d,2.1,5.2,53.4,39.3,19.0,NaN,10.3,NaN,47.0,NaN
180,176,Burkina Faso,NaN,2003,d,2.8,6.9,47.2,32.2,11.6,NaN,6.9,NaN,39.5,NaN
181,177,Sierra Leone,NaN,1989,d,0.5,1.1,63.4,43.6,87.2,NaN,57.6,NaN,62.9,NaN

In [14]:
df = df.dropna(how="all", axis=1)

In [15]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Share of income or expenditure\n(%),Unnamed: 7,Unnamed: 9,Unnamed: 11,Richest 10% to poorest 10%,Unnamed: 14,Richest 20% to poorest 20%,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,HDI rank,NaN,NaN,Survey year,NaN,Poorest 10%,Poorest 20%,Richest 20%,Richest 10%,NaN,NaN,NaN,NaN,Gini index,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,NaN,a,NaN,b
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,NaN,..,NaN,..,..,..,..,..,NaN,..,NaN,..,NaN
4,2,Norway,NaN,2000,c,3.9,9.6,37.2,23.4,6.1,NaN,3.9,NaN,25.8,NaN

In [16]:
columns=['HDI rank',
         'Country',
         'Reference 1',
         'Survey year',
         'Reference 2',
         'Share of income or expenditure Poorest 10%',
         'Share of income or expenditure Poorest 20%',
         'Share of income or expenditureRichest 20%',
         'Share of income or expenditure Richest 10%',
         'Inequality measures Richest 10% to poorest 10%',
         'Reference 3',
         'Inequality measures Richest 20% to poorest 20%',
         'Reference 4',
         'Inequality measures Gini index',    
         'Reference 5'
]

In [17]:
len(columns)

15

In [18]:
len(df.columns)

15

In [19]:
df.columns=columns
df.columns

Index(['HDI rank', 'Country', 'Reference 1', 'Survey year', 'Reference 2',
       'Share of income or expenditure Poorest 10%',
       'Share of income or expenditure Poorest 20%',
       'Share of income or expenditureRichest 20%',
       'Share of income or expenditure Richest 10%',
       'Inequality measures Richest 10% to poorest 10%', 'Reference 3',
       'Inequality measures Richest 20% to poorest 20%', 'Reference 4',
       'Inequality measures Gini index', 'Reference 5'],
      dtype='object')

In [20]:
df.head()

,HDI rank,Country,Reference 1,Survey year,Reference 2,Share of income or expenditure Poorest 10%,Share of income or expenditure Poorest 20%,Share of income or expenditureRichest 20%,Share of income or expenditure Richest 10%,Inequality measures Richest 10% to poorest 10%,Reference 3,Inequality measures Richest 20% to poorest 20%,Reference 4,Inequality measures Gini index,Reference 5
0,HDI rank,NaN,NaN,Survey year,NaN,Poorest 10%,Poorest 20%,Richest 20%,Richest 10%,NaN,NaN,NaN,NaN,Gini index,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,NaN,a,NaN,b
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,NaN,..,NaN,..,..,..,..,..,NaN,..,NaN,..,NaN
4,2,Norway,NaN,2000,c,3.9,9.6,37.2,23.4,6.1,NaN,3.9,NaN,25.8,NaN

In [21]:
#Supprimer toutes les references qui se trouvent dans notre dataframe
df.drop(['Reference 1','Reference 2','Reference 3','Reference 4','Reference 5'],axis='columns',inplace=True)
df.head()

,HDI rank,Country,Survey year,Share of income or expenditure Poorest 10%,Share of income or expenditure Poorest 20%,Share of income or expenditureRichest 20%,Share of income or expenditure Richest 10%,Inequality measures Richest 10% to poorest 10%,Inequality measures Richest 20% to poorest 20%,Inequality measures Gini index
0,HDI rank,NaN,Survey year,Poorest 10%,Poorest 20%,Richest 20%,Richest 10%,NaN,NaN,Gini index
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,..,..,..,..,..,..,..,..
4,2,Norway,2000,3.9,9.6,37.2,23.4,6.1,3.9,25.8

In [22]:
# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et réinitialiser l'index
# np.arange(2) crée un tableau = [0, 1, 2, 3, 4, 5]
df = df.drop(np.arange(0,2), axis=0).reset_index(drop=True)
df.head(20)

,HDI rank,Country,Survey year,Share of income or expenditure Poorest 10%,Share of income or expenditure Poorest 20%,Share of income or expenditureRichest 20%,Share of income or expenditure Richest 10%,Inequality measures Richest 10% to poorest 10%,Inequality measures Richest 20% to poorest 20%,Inequality measures Gini index
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,..,..,..,..,..,..,..,..
2,2,Norway,2000,3.9,9.6,37.2,23.4,6.1,3.9,25.8
3,3,Australia,1994,2.0,5.9,41.3,25.4,12.5,7.0,35.2
4,4,Canada,2000,2.6,7.2,39.9,24.8,9.4,5.5,32.6
5,5,Ireland,2000,2.9,7.4,42.0,27.2,9.4,5.6,34.3
6,6,Sweden,2000,3.6,9.1,36.6,22.2,6.2,4.0,25.0
7,7,Switzerland,2000,2.9,7.6,41.3,25.9,9.0,5.5,33.7
8,8,Japan,1993,4.8,10.6,35.7,21.7,4.5,3.4,24.9
9,9,Netherlands,1999,2.5,7.6,38.7,22.9,9.2,5.1,30.9
10,10,France,1995,2.8,7.2,40.2,25.1,9.1,5.6,32.7
11,11,Finland,2000,4.0,9.6,36.7,22.6,5.6,3.8,26.9
12,12,United States,2000,1.9,5.4,45.8,29.9,15.9,8.4,40.8
13,13,Spain,2000,2.6,7.0,42.0,26.6,10.3,6.0,34.7
14,14,Denmark,1997,2.6,8.3,35.8,21.3,8.1,4.3,24.7
15,15,Austria,2000,3.3,8.6,37.8,23.0,6.9,4.4,29.1
16,16,United Kingdom,1999,2.1,6.1,44.0,28.5,13.8,7.2,36.0
17,17,Belgium,2000,3.4,8.5,41.4,28.1,8.2,4.9,33.0
18,18,Luxembourg,..,..,..,..,..,..,..,..
19,19,New Zealand,1997,2.2,6.4,43.8,27.8,12.5,6.8,36.2

In [24]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
df["HDI rank"].index
df[df["HDI rank"].isin(hdi_categories)].index

Int64Index([0, 71, 157], dtype='int64')

In [25]:
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)

In [26]:
df.loc[:, "HDI rank"]

0        1
1        2
2        3
3        4
4        5
      ...
172    173
173    174
174    175
175    176
176    177
Name: HDI rank, Length: 177, dtype: object

In [27]:
df.loc[:, "HDI NIVEAU_DEV"] = np.where(df["HDI rank"] > 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] < 71,
                                              "HIGH HUMAN DEVELOPMENT",
                                              "MEDIUM HUMAN DEVELOPMENT"
                                              
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)
df.head()

,HDI rank,Country,Survey year,Share of income or expenditure Poorest 10%,Share of income or expenditure Poorest 20%,Share of income or expenditureRichest 20%,Share of income or expenditure Richest 10%,Inequality measures Richest 10% to poorest 10%,Inequality measures Richest 20% to poorest 20%,Inequality measures Gini index,HDI NIVEAU_DEV
0,1,Iceland,..,..,..,..,..,..,..,..,HIGH HUMAN DEVELOPMENT
1,2,Norway,2000,3.9,9.6,37.2,23.4,6.1,3.9,25.8,HIGH HUMAN DEVELOPMENT
2,3,Australia,1994,2.0,5.9,41.3,25.4,12.5,7.0,35.2,HIGH HUMAN DEVELOPMENT
3,4,Canada,2000,2.6,7.2,39.9,24.8,9.4,5.5,32.6,HIGH HUMAN DEVELOPMENT
4,5,Ireland,2000,2.9,7.4,42.0,27.2,9.4,5.6,34.3,HIGH HUMAN DEVELOPMENT

In [28]:
df.tail(30)

,HDI rank,Country,Survey year,Share of income or expenditure Poorest 10%,Share of income or expenditure Poorest 20%,Share of income or expenditureRichest 20%,Share of income or expenditure Richest 10%,Inequality measures Richest 10% to poorest 10%,Inequality measures Richest 20% to poorest 20%,Inequality measures Gini index,HDI NIVEAU_DEV
147,148,Kenya,1997,2.5,6.0,49.1,33.9,13.6,8.2,42.5,MEDIUM HUMAN DEVELOPMENT
148,149,Djibouti,..,..,..,..,..,..,..,..,MEDIUM HUMAN DEVELOPMENT
149,150,Timor-Leste,..,..,..,..,..,..,..,..,MEDIUM HUMAN DEVELOPMENT
150,151,Zimbabwe,1995-96,1.8,4.6,55.7,40.3,22.0,12.0,50.1,MEDIUM HUMAN DEVELOPMENT
151,152,Togo,..,..,..,..,..,..,..,..,MEDIUM HUMAN DEVELOPMENT
152,153,Yemen,1998,3.0,7.4,41.2,25.9,8.6,5.6,33.4,MEDIUM HUMAN DEVELOPMENT
153,154,Uganda,2002,2.3,5.7,52.5,37.7,16.6,9.2,45.7,MEDIUM HUMAN DEVELOPMENT
154,155,Gambia,1998,1.8,4.8,53.4,37.0,20.2,11.2,50.2,MEDIUM HUMAN DEVELOPMENT
155,156,Senegal,2001,2.7,6.6,48.4,33.4,12.3,7.4,41.3,LOW HUMAN DEVELOPMENT
156,157,Eritrea,..,..,..,..,..,..,..,..,LOW HUMAN DEVELOPMENT
157,158,Nigeria,2003,1.9,5.0,49.2,33.2,17.8,9.7,43.7,LOW HUMAN DEVELOPMENT
158,159,Tanzania (United Republic of),2000-01,2.9,7.3,42.4,26.9,9.2,5.8,34.6,LOW HUMAN DEVELOPMENT
159,160,Guinea,2003,2.9,7.0,46.1,30.7,10.5,6.6,38.6,LOW HUMAN DEVELOPMENT
160,161,Rwanda,2000,2.1,5.3,53.0,38.2,18.6,9.9,46.8,LOW HUMAN DEVELOPMENT
161,162,Angola,..,..,..,..,..,..,..,..,LOW HUMAN DEVELOPMENT
162,163,Benin,2003,3.1,7.4,44.5,29.0,9.4,6.0,36.5,LOW HUMAN DEVELOPMENT
163,164,Malawi,2004-05,2.9,7.0,46.6,31.8,10.9,6.7,39.0,LOW HUMAN DEVELOPMENT
164,165,Zambia,2004,1.2,3.6,55.1,38.8,32.3,15.3,50.8,LOW HUMAN DEVELOPMENT
165,166,Côte d'Ivoire,2002,2.0,5.2,50.7,34.0,16.6,9.7,44.6,LOW HUMAN DEVELOPMENT
166,167,Burundi,1998,1.7,5.1,48.0,32.8,19.3,9.5,42.4,LOW HUMAN DEVELOPMENT
167,168,Congo (Democratic Republic of the),..,..,..,..,..,..,..,..,LOW HUMAN DEVELOPMENT
168,169,Ethiopia,1999-00,3.9,9.1,39.4,25.5,6.6,4.3,30.0,LOW HUMAN DEVELOPMENT
169,170,Chad,..,..,..,..,..,..,..,..,LOW HUMAN DEVELOPMENT
170,171,Central African Republic,1993,0.7,2.0,65.0,47.7,69.2,32.7,61.3,LOW HUMAN DEVELOPMENT
171,172,Mozambique,2002-03,2.1,5.4,53.6,39.4,18.8,9.9,47.3,LOW HUMAN DEVELOPMENT
172,173,Mali,2001,2.4,6.1,46.6,30.2,12.5,7.6,40.1,LOW HUMAN DEVELOPMENT
173,174,Niger,1995,0.8,2.6,53.3,35.4,46.0,20.7,50.5,LOW HUMAN DEVELOPMENT
174,175,Guinea-Bissau,1993,2.1,5.2,53.4,39.3,19.0,10.3,47.0,LOW HUMAN DEVELOPMENT
175,176,Burkina Faso,2003,2.8,6.9,47.2,32.2,11.6,6.9,39.5,LOW HUMAN DEVELOPMENT
176,177,Sierra Leone,1989,0.5,1.1,63.4,43.6,87.2,57.6,62.9,LOW HUMAN DEVELOPMENT

In [29]:
#supprimer les ".."
for c in df.columns:
    try:
        df[c] = np.where(df[c] == ".." , "(.)", np.nan, df[c])
    except TypeError:
        pass

In [30]:
df.tail(20)

,HDI rank,Country,Survey year,Share of income or expenditure Poorest 10%,Share of income or expenditure Poorest 20%,Share of income or expenditureRichest 20%,Share of income or expenditure Richest 10%,Inequality measures Richest 10% to poorest 10%,Inequality measures Richest 20% to poorest 20%,Inequality measures Gini index,HDI NIVEAU_DEV
157,158,Nigeria,2003,1.9,5.0,49.2,33.2,17.8,9.7,43.7,LOW HUMAN DEVELOPMENT
158,159,Tanzania (United Republic of),2000-01,2.9,7.3,42.4,26.9,9.2,5.8,34.6,LOW HUMAN DEVELOPMENT
159,160,Guinea,2003,2.9,7.0,46.1,30.7,10.5,6.6,38.6,LOW HUMAN DEVELOPMENT
160,161,Rwanda,2000,2.1,5.3,53.0,38.2,18.6,9.9,46.8,LOW HUMAN DEVELOPMENT
161,162,Angola,..,..,..,..,..,..,..,..,LOW HUMAN DEVELOPMENT
162,163,Benin,2003,3.1,7.4,44.5,29.0,9.4,6.0,36.5,LOW HUMAN DEVELOPMENT
163,164,Malawi,2004-05,2.9,7.0,46.6,31.8,10.9,6.7,39.0,LOW HUMAN DEVELOPMENT
164,165,Zambia,2004,1.2,3.6,55.1,38.8,32.3,15.3,50.8,LOW HUMAN DEVELOPMENT
165,166,Côte d'Ivoire,2002,2.0,5.2,50.7,34.0,16.6,9.7,44.6,LOW HUMAN DEVELOPMENT
166,167,Burundi,1998,1.7,5.1,48.0,32.8,19.3,9.5,42.4,LOW HUMAN DEVELOPMENT
167,168,Congo (Democratic Republic of the),..,..,..,..,..,..,..,..,LOW HUMAN DEVELOPMENT
168,169,Ethiopia,1999-00,3.9,9.1,39.4,25.5,6.6,4.3,30.0,LOW HUMAN DEVELOPMENT
169,170,Chad,..,..,..,..,..,..,..,..,LOW HUMAN DEVELOPMENT
170,171,Central African Republic,1993,0.7,2.0,65.0,47.7,69.2,32.7,61.3,LOW HUMAN DEVELOPMENT
171,172,Mozambique,2002-03,2.1,5.4,53.6,39.4,18.8,9.9,47.3,LOW HUMAN DEVELOPMENT
172,173,Mali,2001,2.4,6.1,46.6,30.2,12.5,7.6,40.1,LOW HUMAN DEVELOPMENT
173,174,Niger,1995,0.8,2.6,53.3,35.4,46.0,20.7,50.5,LOW HUMAN DEVELOPMENT
174,175,Guinea-Bissau,1993,2.1,5.2,53.4,39.3,19.0,10.3,47.0,LOW HUMAN DEVELOPMENT
175,176,Burkina Faso,2003,2.8,6.9,47.2,32.2,11.6,6.9,39.5,LOW HUMAN DEVELOPMENT
176,177,Sierra Leone,1989,0.5,1.1,63.4,43.6,87.2,57.6,62.9,LOW HUMAN DEVELOPMENT

In [31]:
#Exportons notre fichier sur le format CSV
df.to_csv('Gahie.csv',index=False)