Nous importons un module avec import et pouvons le renommer en utilisant le terme as :

import pandas as pd



import numpy as np

In [1]:
import pandas as pd
import numpy as np

Nous commençons par importer le fichier Excel. 


Dans pandas, une feuille de calcul est appelée dataframe, ou df en abrégé.

In [2]:
source = ("HDR_2007_2008_Table_27.xlsx")

df = pd.read_excel(source)

df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,… protecting personal security…,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27 Crime and justice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Year in which countries have partially or comp...,NaN,NaN
6,HDI rank,NaN,NaN,Intentional homicidesa (per 10...,NaN,Prison population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,Total 2007d,NaN,"(per 100,000 people) 2007d",NaN,Female (% of total) ...,NaN,NaN,NaN,NaN
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,NaN,1,NaN,119,NaN,40,NaN,6,NaN,1928,NaN,NaN

In [3]:
# Repositionner la ligne d'en-tête
df = pd.read_excel(source, header=6)
# https://stackoverflow.com/a/51794989
# Supprimez d'abord toutes les colonnes (axe=1) sans valeurs
df = df.dropna(how="all", axis=1)
# Supprimer toutes les lignes (axe=0) sans valeurs
df = df.dropna(how="all", axis=0).reset_index(drop=True)
df.head(6)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Year in which countries have partially or completely abolished the death penaltyb,Unnamed: 12
0,HDI rank,NaN,Intentional homicidesa (per 10...,NaN,Prison population,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Total 2007d,NaN,"(per 100,000 people) 2007d",NaN,Female (% of total) ...,NaN,NaN,NaN
2,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Iceland,1,NaN,119,NaN,40,NaN,6,NaN,1928,NaN
4,2,Norway,0.8,NaN,3048,NaN,66,NaN,5,NaN,1979,NaN
5,3,Australia,1.3,NaN,25353,NaN,126,NaN,7,NaN,1985,NaN

In [4]:
columns = []
for c in df.columns:
    # Pour chaque colonne, obtenir les valeurs des 5 premières lignes
    # puis conservez toutes les chaînes (c'est-à-dire excluez-les si elles sont nulles) et ajoutez-les en colonne
    columns.append([str(v) for v in df[c][:5] if pd.notnull(v)])
columns

[['HDI rank', 'HIGH HUMAN DEVELOPMENT', '1', '2'],
 ['Iceland', 'Norway'],
 ['Intentional homicidesa                 (per 100,000 people)                         2000-04c',
  '1',
  '0.8'],
 [],
 ['Prison population', 'Total                   2007d', '119', '3048'],
 [],
 ['(per 100,000 people)                        2007d', '40', '66'],
 [],
 ['Female                         (% of total)             2007e', '6', '5'],
 [],
 ['1928', '1979'],
 []]

In [20]:
columns = [
    "HDI rank",
    "Country",
    "Intentional homicidesa                 (per 100,000 people)                         2000-04c",
    "Reference 1",
    "Prison population     Total                   2007d",
    "Reference 2",
    "Prison population     (per 100,000 people)                        2007d",
    "Reference 3",
    "Prison population     Female                         (% of total)             2007e",
    "Reference 4,
    "Year in which countries have partially or completely abolished the death penaltyb",
    "Reference 5"
]
# Réinitialiser les colonnes des cadres de données
df.columns = columns
# Supprimer les lignes qui contenaient les informations dont nous n'avons plus besoin
# et réinitialiser l'index
# np.arange(5) crée un tableau = [0, 1, 2, 3, 4, 5]
df = df.drop(np.arange(5), axis=0).reset_index(drop=True)
df.head(10)

,HDI rank,Country,Reference 1,"Intentional homicidesa (per 100,000 people) 2000-04c",Reference 2,Prison population Total 2007d,Reference 3,"Prison population (per 100,000 people) 2007d",Reference 4,Prison population Female (% of total) 2007e,Reference 5,Year in which countries have partially or completely abolished the death penaltyb
0,43,Lithuania,9.4,NaN,8124,NaN,240,NaN,3,NaN,1998,NaN
1,44,Estonia,6.8,NaN,4463,NaN,333,NaN,4,NaN,1998,NaN
2,45,Latvia,8.6,NaN,6676,NaN,292,NaN,6,NaN,1999,h
3,46,Uruguay,5.6,NaN,6947,NaN,193,NaN,6,NaN,1907,NaN
4,47,Croatia,1.8,NaN,3594,NaN,81,NaN,5,NaN,1990,NaN
5,48,Costa Rica,6.2,NaN,7782,NaN,181,NaN,7,NaN,1877,NaN
6,49,Bahamas,15.9,f,1500,NaN,462,NaN,2,NaN,..,g
7,50,Seychelles,7.4,NaN,193,NaN,239,NaN,8,NaN,1993,NaN
8,51,Cuba,..,NaN,55000,NaN,487,NaN,..,NaN,..,g
9,52,Mexico,13,NaN,214450,NaN,196,NaN,5,NaN,2005,NaN

In [14]:
columns

['HDI rank',
 'Country',
 'Intentional homicidesa                 (per 100,000 people)                         2000-04c',
 'Reference 1',
 'Prison population     Total                   2007d',
 'Reference 2',
 'Prison population     (per 100,000 people)                        2007d',
 'Reference 3',
 'Reference 4',
 'Prison population     Female                         (% of total)             2007e',
 'Reference 5',
 'Year in which countries have partially or completely abolished the death penaltyb']